*{background: #DEB887;align: middle;}p{background-color:beige;
    font-family:"open_sans" sans-serif;
    font: size 500px;
    font-weight:500;
    text-align:centre; img-align:center;}
    h1{font-family:"open_sans" sans-serif;
    font-size: xx-large 
    font-weight:bold;
    text-align:centre; img-align:center;}
    
    a:link{color:ivory;
    font-weight:400;
    text-decoration: underline;}
    a:hover{color: ivory}
    